<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Administration{% endblock %}</title>
  <link rel="stylesheet" href="{{ asset('style.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<header id="header-admin">
  <div id="logo-admin">
    <h1><a href="{{ path('Admin') }}">Administration</a></h1>
  </div>

  {% if is_granted('ROLE_ADMIN') %}
  <nav>
    <ul>
      <li>
        <a href="{{ path('AdminCategoryList') }}">
          <span class="material-icons">layers</span>Catégories
        </a>
      </li>
      <li>
        <a href="{{ path('AdminArticleList') }}">
          <span class="material-icons">description</span>Articles
        </a>
      </li>
      <li>
        <a href="{{ path('AdminTagList')}}">
          <span class="material-icons">local_offer</span>Tags
        </a>
      </li>
      <li>
        <a href="{{ path('logout')}}">
          <span class="material-icons">logout</span>Déconnexion
        </a>
      </li>
    </ul>
  </nav>
  {% endif %}
</header>

<!-- Messages d'erreur -->
{% for message in app.flashes('success') %}
  <div class="flash-success">
      <span class="material-icons">check_circle</span>{{ message }}
  </div>
{% endfor %}
{% for message in app.flashes('warning') %}
  <div class="flash-warning">
    <span class="material-icons">error</span>{{ message }}
  </div>
{% endfor %}
{% if error is defined and error %}
  <div class="flash-warning">
    <span class="material-icons">error</span>{{ error.messageKey }}
  </div>
{% endif %}

<main>
  {% block main %}{% endblock %}
</main>

{% if is_granted('ROLE_ADMIN') %}
<footer id="footer-admin">
  <h3>Crée avec Symfony par Florian Frazao</h3>
</footer>
{% endif %}

</body>
</html>
