{% extends 'admin/admin_base.html.twig' %}

{% block title %}Administration | Catégories{% endblock title %}

{% block main %}
<div class="show">
    <h1 class="page-title text-center">Administration des catégories</h1>
    <h2 class="subtitle my-10 text-center">({{ categories | length }} catégorie{{ categories | length > 1 ? 's' : '' }})</h2>
    <div class="add-button my-10">
        <span class="material-icons">add_circle</span>
        <a href="{{ path('AdminCategoryAdd') }}">Ajouter une catégorie</a>
    </div>
        <table id="article-array" class="admin-array my-20" cellspacing="0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nombre d'articles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    {% if category.isPublished %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.articles | length }}</td>
                            <td>
                                <a href="{{ path('AdminCategoryUpdate', {'id': category.id }) }}">
                                    <span class="material-icons" id="edit-icon">edit</span>
                                </a>
                                <a href="{{ path('AdminCategoryDelete', {'id': category.id }) }}">
                                    <span class="material-icons" id="delete-icon">delete</span>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}