{% extends 'admin/admin_base.html.twig' %}

{% block title %}Administration | Tags{% endblock title %}

{% block main %}
<div class="container">
    <h1 class="page-title text-center">Administration des tags</h1>
    <h2 class="subtitle my-10 text-center">({{ tags | length }} tag{{ tags | length > 1 ? 's' : '' }})</h2>
    <div class="add-button my-10">
        <span class="material-icons">add_circle</span>
        <a href="{{ path('AdminTagAdd') }}">Ajouter un tag</a>
    </div>
        <table id="article-array" class="admin-array my-20" cellspacing="0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Code couleur</th>
                <th>Nombre d'articles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                        <tr>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.title }}</td>
                            <td style="color: {{ tag.colorCode }};">{{ tag.colorCode }}</td>
                            <td>{{ tag.articles | length }}</td>
                            <td>
                                <a href="{{ path('AdminTagUpdate', {'id': tag.id }) }}">
                                    <span class="material-icons" id="edit-icon">edit</span>
                                </a>
                                <a href="{{ path('AdminTagDelete', {'id': tag.id }) }}">
                                    <span class="material-icons" id="delete-icon">delete</span>
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}