{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock title %}

{% block main %}
    <div class="show">
        {% if article.category %}
            <h2 class="title">{{ article.category.title }}</h2>
        {% endif %}
        <h1 class="title my-10">{{ article.title }}</h1>
        {% if article.tag %}
        <a href="{{ path('tagShow', {id: article.tag.id}) }}" class="tag my-10"
           style="border:2px solid {{ article.tag.color }}; color: {{ article.tag.color }};">{{ article.tag.title }}</a>
        {% endif %}
        <p class="description my-10">{{ article.description }}</p>
        <p class="content my-10">{{ article.content }}</p>
    </div>
{% endblock main %}