{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock title %}

{% block main %}
    <div class="list-items">
        <h1 class="page-title">Liste des articles</h1>
        <h2 class="subtitle">({{ articles | length }} article{{ articles | length > 1 ? 's' : '' }})</h2>
        <div class="flex-container">
            {% for article in articles %}
                {% if article.isPublished %}
                    <div class="card">
                        <h1 class="title">{{ article.title }}</h1>
                        {% if article.category %}
                            <h2 class="title">{{ article.category.title }}</h2>
                        {% endif %}
                        {% if article.tag %}
                            <a href="{{ path('tagShow', {id: article.tag.id}) }}" class="tag"
                           style="border:2px solid {{ article.tag.color }}; color: {{ article.tag.color }};">{{ article.tag.title }}</a>
                        {% endif %}
                        <p class="description">{{ article.description }}</p>
                        <a href="{{ path('articleShow', {id: article.id}) }}">
                            <div class="btn-more">En savoir plus</div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock main %}