<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="logo">
                <h1><a href="{{ path('home') }}">Mon super blog</a></h1>
            </div>
            <form id="search" action="{{ path('search') }}" method="get">
                <input type="text" name="result" placeholder="recherche...">
                <input type="submit" value="Rechercher">
            </form>
            <nav>
                <ul>
                    <li><a href="{{ path('categoryList') }}">
                            <span class="material-icons">layers</span>Catégories
                        </a>
                    </li>
                    <li><a href="{{ path('articleList') }}">
                            <span class="material-icons">description</span>Articles
                        </a>
                    </li>
                    <li><a href="{{ path('tagList')}}">
                            <span class="material-icons">local_offer</span>Tags
                        </a>
                    </li>
                    <li><a href="{{ path('Admin')}}">
                            <span class="material-icons">settings</span>Admin
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <h3>Crée avec Symfony par Florian Frazao</h3>
        </footer>
    </body>
</html>
