{% extends 'base.html.twig' %}

{% block title %} {{ category.title }} {% endblock title %}

{% block main %}
    <div class="container">
        <h1 class="title text-center">{{ category.title }}</h1>
        <h2 class="subtitle my-10 text-center">({{ category.articles | length }} article{{ category.articles | length > 1 ? 's' : '' }})</h2>
        <div class="flex-container">
            {% for article in category.articles %}
                <div class="card">
                    <h1 class="title">{{ article.title }}</h1>
                    <p class="description my-10">{{ article.description }}</p>
                    {% if article.tag %}
                        <a href="{{ path('tagShow', {id: article.tag.id}) }}" class="tag my-10 mx-r-10"
                           style="border:2px solid {{ article.tag.color }}; color: {{ article.tag.color }};">{{ article.tag.title }}</a>
                    {% endif %}
                    <a href="{{ path('articleShow', {id: article.id}) }}">
                        <div class="btn-more my-10">Voir l'article</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}