{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock title %}

{% block main %}
    <div class="show">
        <h1 class="page-title text-center">Liste des catégories</h1>
        <h2 class="subtitle m-10 text-center">({{ categories | length }} catégorie{{ categories | length > 1 ? 's' : '' }})</h2>
        <div class="flex-container">
            {% for category in categories %}
                {% if category.isPublished %}
                    <div class="card">
                        <h1 class="title">{{ category.title }}</h1>
                        <p class="description my-10">{{ category.description }}</p>
                        <a href="{{ path('categoryShow', {id: category.id}) }}">
                            <h3 class="title my-10">{{ category.articles | length }} article{{ category.articles | length > 1 ? 's' : '' }} </h3>
                            <div class="btn-more my-10">Voir tous les articles</div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock main %}