{% extends 'base.html.twig' %}

{% block title %} {{ category.title }} {% endblock title %}

{% block main %}
    <div class="list-items">
        <h1 class="title">{{ category.title }}</h1>
        <h2 class="subtitle">({{ category.articles | length }} article{{ category.articles | length > 1 ? 's' : '' }})</h2>
        <div class="flex-container">
            {% for article in category.articles %}
                <div class="card">
                    <h1 class="title">{{ article.title }}</h1>
                    <p class="description">{{ article.description }}</p>
                    <a href="{{ path('articleShow', {id: article.id}) }}">
                        <div class="btn-more">En savoir plus</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}