{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock title %}

{% block main %}
    <div class="list-items">
        <h1 class="page-title">Liste des tags</h1>
        <h2 class="subtitle">({{ tags | length }} tag{{ tags | length > 1 ? 's' : '' }})</h2>
        <div class="flex-start">
            <div class="tags">
                {% for tag in tags %}
                    <a href="{{ path('tagShow', {id: tag.id}) }}" class="tag mx-10"
                       style="border:2px solid {{ tag.color }}; color: {{ tag.color }};">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}