{% extends 'base.html.twig' %}

{% block title %}Liste des tags{% endblock title %}

{% block main %}
    <div class="container">
        <h1 class="page-title text-center">Liste des tags</h1>
        <h2 class="subtitle my-10 text-center">({{ tags | length }} tag{{ tags | length > 1 ? 's' : '' }})</h2>
        <div class="flex-around">
            <div class="tags">
                {% for tag in tags %}
                    <a href="{{ path('tagShow', {id: tag.id}) }}" class="tag mx-r-10"
                       style="border:2px solid {{ tag.colorCode }}; color: {{ tag.colorCode }};">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}